@model CcaRegistrationDf.Models.Counselor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Counselor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounselorCactusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounselorCactusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounselorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounselorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounselorFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounselorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounselorLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounselorLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounselorPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounselorPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
