@model IEnumerable<CcaRegistrationDf.Models.ReportViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Monthly Distribution Report</h2>

<div style="padding:10px;">
    <row>
        <a href="@Url.Action("GenerateReport", new { id = "Excel" })"><img src="~/Content/Images/excel-icon-sm.png" /></a>
        <a href="@Url.Action("GenerateReport", new { id = "PDF" })"><img src="~/Content/Images/pdf-icon-sm.png" /></a>
        <a href="@Url.Action("GenerateReport", new { id = "Word" })"><img src="~/Content/Images/word-icon-sm.png" /></a>
        @*<a href="@Url.Action("MakeReport", new { id = "Image" })"><img src="~/Content/Images/img-icon-sm.png" /></a>*@
    </row>
</div>

<table class="table">
    <tr>
        <th>
            Student First Name
        </th>
        <th>
            Student Last Name
        </th>
        <th>
            SSID
        </th>
       
        @*<th>
            Credit
        </th>*@
       
        @*<th>
            Provider
        </th>
        
        <th>
           EnrollmentLocation
        </th>
        
        <th>
            Category
        </th>
      
        <th>
            Course
        </th>
        <th>
            Budget Primary Provider
        </th>
        <th>
            Prior Disbursement Provider
        </th>*@
        @*<th>
            CurrentFYDistr
        </th>
        <th>
            CurrentFYOffset
        </th>*@
        @*<th>
            Total Disbursements Provider
        </th>*@
        
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSID)
        </td>
       
       
        @*<td>
            @Html.DisplayFor(modelItem => item.Credit.Value)
        </td>*@
       
        @*<td>
            @Html.DisplayFor(modelItem => item.Provider.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentLocation)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CourseCategory.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.OnlineCourse.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetPrimaryProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriorDisbursementProvider)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.CurrentFYDistr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentFYOffset)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.TotalDisbursementsProvider)
        </td>*@
       
    </tr>
}

</table>

