@model CcaRegistrationDf.Models.MainFormViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Online Course Application</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" id="SubmitterTypeCheckBox">
            @Html.Label("Which of the following are you?", new { @class = "col-md-4  control-radio" })

            <div class="col-md-8">
                @Html.Label("Student", "Student or Parent/Guardian", new { @class = "control-radio" })
                @Html.RadioButtonFor(model => model.SubmitterTypeID, 1, new { htmlAttributes = new { title = "Student/Parent" }, id = "studentSubmitter" })
                @Html.Label("Counselor", "| Counselor", new { @class = "control-radio" })
                @Html.RadioButtonFor(model => model.SubmitterTypeID, 2, new { htmlAttributes = new { title = "Counselor" } })
                @Html.Label("Provider", "| Provider", new { @class = "control-radio" })
                @Html.RadioButtonFor(model => model.SubmitterTypeID, 3, new { htmlAttributes = new { title = "Provider" } })

                @Html.ValidationMessageFor(model => model.SubmitterTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <h4>Student Information</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-4">
                @Html.EditorFor(model => model.StudentFirstName, new { htmlAttributes = new { @class = "form-control", title = "First Name as it appears on Birth Certificate", placeholder = "*Student First Name" } })
                @Html.ValidationMessageFor(model => model.StudentFirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.StudentLastName, new { htmlAttributes = new { @class = "form-control", title = "Last Name as it appears on Birth Certificate", placeholder = "*Student Last Name" } })
                @Html.ValidationMessageFor(model => model.StudentLastName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.StudentDOB, new { @class = "form-control datepicker", id = "birthdatePicker", title = "Birthdate must be in mm/dd/yyyy format.", placeholder = "*Date of Birth (mm/dd/yyyy)" })
                @Html.ValidationMessageFor(model => model.StudentDOB, "", new { @class = "text-danger" })
            </div>

        </div>

        @* Dropdown for EnrollmentLocation Goes here *@
        <div class="form-group" id="EnrollmentInformation">

            <div class="col-md-4">
                @Html.DropDownListFor(model => model.EnrollmentLocationID, Model.EnrollmentLocation, "*Enrolled District", new { @class = "form-control dropdown-wrapper", id = "EnrollmentLocation", title = "School District currently enrolled. (Primary)" })
                @Html.ValidationMessageFor(model => model.EnrollmentLocationID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.EnrollmentLocationSchoolNamesID, Model.EnrollmentLocationSchoolNames, "Current School", new { @class = "form-control dropdown-wrapper", id = "CurrentSchool", title = "School in charge of student records and graduation." })
                @Html.ValidationMessageFor(model => model.EnrollmentLocationSchoolNamesID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4 hide" id="HomeSchoolRelease">
                @Html.LabelFor(model => model.HasHomeSchoolRelease)
                <div class="col-md-1">
                    @Html.CheckBoxFor(model => model.HasHomeSchoolRelease, new { @class = "checkbox-inline" })
                    @Html.ValidationMessageFor(model => model.HasHomeSchoolRelease, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.SchoolOfRecord, new { htmlAttributes = new { @class = "form-control hide", id = "CurrentPrivateSchool", title = "Private School Name.", placeholder = "*Private School Name" } })
                @Html.ValidationMessageFor(model => model.SchoolOfRecord, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.GraduationDate, new { @class = "form-control datepicker", id = "graduationdatePicker", title = "Approximate Date is acceptable", placeholder = "*Graduation Date (Approximate)" })
                @Html.ValidationMessageFor(model => model.GraduationDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.StudentEmail, new { htmlAttributes = new { @class = "form-control", title = "Please provide Student Email ", placeholder = "Student Email" } })
                @Html.ValidationMessageFor(model => model.StudentEmail, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.SSID, new { @class = "form-control", id = "ssid", title = "Private/Home School leave blank", placeholder = "Student Number(Public/Charter Only)" })
                @Html.ValidationMessageFor(model => model.SSID, "", new { @class = "text-danger" })
            </div>

        </div>



        <div class="form-group" id="GradeCheckBox">
            @Html.Label("*Grade Level During Online Class Participation:", new { @class = "col-md-5  control-radio" })
            <div class="col-md-6">
                @Html.Label("seventhGrade", "7th*", new { @class = "control-radio" })
                @Html.RadioButtonFor(model => model.StudentGradeLevel, 7, new { htmlAttributes = new { title = "7th Grade" }, id = "7" })
                @Html.Label("eighthGrade", "8th*", new { @class = "control-radio" })
                @Html.RadioButtonFor(model => model.StudentGradeLevel, 8, new { htmlAttributes = new { title = "8th Grade" } })
                @Html.Label("eighthGrade", "9th", new { @class = "control-radio" })
                @Html.RadioButtonFor(model => model.StudentGradeLevel, 9, new { htmlAttributes = new { title = "9th Grade" } })
                @Html.Label("eighthGrade", "10th", new { @class = "control-radio" })
                @Html.RadioButtonFor(model => model.StudentGradeLevel, 10, new { htmlAttributes = new { title = "10th Grade" } })
                @Html.Label("eighthGrade", "11th", new { @class = "control-radio" })
                @Html.RadioButtonFor(model => model.StudentGradeLevel, 11, new { htmlAttributes = new { title = "11th Grade" } })
                @Html.Label("eighthGrade", "12th", new { @class = "control-radio" })
                @Html.RadioButtonFor(model => model.StudentGradeLevel, 12, new { htmlAttributes = new { title = "12th Grade" } })

                @Html.ValidationMessageFor(model => model.StudentGradeLevel, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Guardian Section *@
        <br />

        <h4>Parent/Guardian Information</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-3">
                @Html.EditorFor(model => model.GuardianFirstName, new { htmlAttributes = new { @class = "form-control", title = "Parent/Guardian First Name (Given Name)", placeholder = "*Guardian First Name" } })
                @Html.ValidationMessageFor(model => model.GuardianFirstName, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.EditorFor(model => model.GuardianLastName, new { htmlAttributes = new { @class = "form-control", title = "Parent/Guardian Last Name (Surname)", placeholder = "*Guardian Last Name" } })
                @Html.ValidationMessageFor(model => model.GuardianLastName, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.EditorFor(model => model.GuardianEmail, new { htmlAttributes = new { @class = "form-control", title = "Parent/Guardian Email Address ", placeholder = "*Guardian Email" } })
                @Html.ValidationMessageFor(model => model.GuardianEmail, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.GuardianPhone1, new { htmlAttributes = new { @class = "phone form-control", title = "Parent/Guardian Contact Phone Number with Area code ", placeholder = "Guardian Phone" } })
                @Html.ValidationMessageFor(model => model.GuardianPhone1, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <h4>Counselor Information </h4>
        <hr />

        @* Counselor Section *@

        <div class="form-group" id="CouselorCactusID">
            @Html.LabelFor(model => model.CounselorCactusID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.CounselorCactusID, new { @class = "form-control", id = "CounselorCactusId", title = "Acts as Counselor Signature", placeholder = "Counselor Cactus ID" })
                @Html.ValidationMessageFor(model => model.CounselorCactusID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group" id="CounselorSection">

            <div class="col-md-3">
                @Html.EditorFor(model => model.CounselorFirstName, new { htmlAttributes = new { @class = "form-control", title = "Public and Charter School only", placeholder = "Counselor First Name" } })
                @Html.ValidationMessageFor(model => model.CounselorFirstName, "", new { @class = "text-danger" })
            </div>


            <div class="col-md-3">
                @Html.EditorFor(model => model.CounselorLastName, new { htmlAttributes = new { @class = "form-control", title = "Public and Charter School only", placeholder = "Counselor Last Name" } })
                @Html.ValidationMessageFor(model => model.CounselorLastName, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.EditorFor(model => model.CounselorEmail, new { htmlAttributes = new { @class = "form-control", title = "Public and Charter School only", placeholder = "Counselor Email" } })
                @Html.ValidationMessageFor(model => model.CounselorEmail, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.EditorFor(model => model.CounselorPhoneNumber, new { htmlAttributes = new { @class = "phone form-control", title = "Public and Charter School only", placeholder = "Counselor Phone" } })
                @Html.ValidationMessageFor(model => model.CounselorPhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>


        <br />

        <h4>Available Online Courses </h4>
        <hr />

        @* Course Selection *@

        @* Dropdown lists go here *@

        <div class="form-group">

            <div class="col-md-4">
                @Html.DropDownListFor(model => model.SessionID, Model.Session, "*Session", new { @class = "form-control dropdown-wrapper", id = "Session" })

                @Html.ValidationMessageFor(model => model.SessionID, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.DropDownListFor(model => model.CategoryID, Model.Category, "*Course Categories", new { @class = "form-control dropdown-wrapper", id = "Category" })

                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.DropDownListFor(model => model.CourseID, Model.Course, "*Courses", new { @class = "form-control dropdown-wrapper", id = "Course" })

                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </div>


        </div>



        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("Provider", new { @class = "alert alert-info hide", id = "Provider" })
                @Html.Label("Course", new { @class = "alert alert-info hide", id = "CourseName" })
                @Html.Label("Code", new { @class = "alert alert-info hide", id = "Code" })
                @Html.Label("Credit", new { @class = "alert alert-info hide", id = "Credit" })
               

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-12">
                @Html.Label("Note", new { @class = "alert alert-warning hide", id = "Note" })
            </div>
        </div>

        @Html.HiddenFor(x => x.OnlineProviderID, new { id = "ProviderID" })

        <div class="form-group">
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.CreditID, Model.Credit, "Credit", new { @class = "form-control hide dropdown-wrapper", id = "CreditOptions" })

                @Html.ValidationMessageFor(model => model.CreditID, "", new { @class = "text-danger" })
            </div>
          
        </div>
        

        <br />

        <h4>Student Accomodations </h4>
        <hr />

        @* Accomodations *@
        @* Checkboxes with accomodation flags *@

        <div class="row">
            @Html.LabelFor(model => model.IsEarlyGraduate, htmlAttributes: new { @class = "control-label-left col-md-3" })
            <div class="col-md-1">

                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.IsEarlyGraduate)
                    @Html.ValidationMessageFor(model => model.IsEarlyGraduate, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="row">
            @Html.LabelFor(model => model.IsFeeWaived, htmlAttributes: new { @class = "control-label-left col-md-3" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.IsFeeWaived)
                    @Html.ValidationMessageFor(model => model.IsFeeWaived, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>



        <div class="row">
            @Html.LabelFor(model => model.IsIEP, htmlAttributes: new { @class = "control-label-left col-md-3" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.IsIEP)
                    @Html.ValidationMessageFor(model => model.IsIEP, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="row">
            @Html.LabelFor(model => model.IsSection504, htmlAttributes: new { @class = "control-label-left col-md-3" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.IsSection504)
                    @Html.ValidationMessageFor(model => model.IsSection504, "", new { @class = "text-danger" })

                </div>
            </div>

        </div>

        <br />

        <h4>Credit Exceptions</h4>
        <hr />

        @* Credit Exceptions *@

        <div class="form-group" id="CreditRadio">
            @Html.Label("Will the student be registered for more than full day credit equivalent?", new { @class = "col-md-6  control-radio" })
            <div class="col-md-6">
                @Html.Label("Yes", "Yes", new { @class = "control-radio" })
                @Html.RadioButtonFor(model => model.HasExcessiveFED, true, new { htmlAttributes = new { title = "Yes. Excess Credit." }, id = "YesExcessCredit" })
                @Html.Label("No", "No", new { @class = "control-radio" })
                @Html.RadioButtonFor(model => model.HasExcessiveFED, false, new { htmlAttributes = new { title = "No excess credit." }, id = "NoExcessCredit" })

                @Html.ValidationMessageFor(model => model.HasExcessiveFED, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-5">
                @Html.DropDownListFor(model => model.ExcessiveFEDReasonCode, Model.ExcessiveFEDReasonList, "Reason for excessive credit", new { @class = "form-control hide", id = "ExcessiveCreditReason", required = false })
                @Html.ValidationMessageFor(model => model.ExcessiveFEDReasonCode, "", new { @class = "text-danger" })
            </div>


            <div class="col-md-7">
                @Html.TextAreaFor(model => model.ExcessiveFEDExplanation, new { @class = "form-control hide", title = "Explanation of request to exceed allowable online credits(5.0)", placeholder = "Excessive Credit Explanation", id = "ExcessiveCreditExplanation" })
                @Html.ValidationMessageFor(model => model.ExcessiveFEDExplanation, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <div id="ProviderSection">
            <h4>Provider Information</h4>
            <hr />

            @* Provider Section *@

            <div class="form-group">

                <div class="col-md-3">
                    @Html.EditorFor(model => model.ProviderFirstName, new { htmlAttributes = new { @class = "form-control", title = "Provider Representative First Name", placeholder = "Provider First Name" } })
                    @Html.ValidationMessageFor(model => model.ProviderFirstName, "", new { @class = "text-danger" })
                </div>


                <div class="col-md-3">
                    @Html.EditorFor(model => model.ProviderLastName, new { htmlAttributes = new { @class = "form-control", title = "Provider Representative Last Name", placeholder = "Provider Last Name" } })
                    @Html.ValidationMessageFor(model => model.ProviderLastName, "", new { @class = "text-danger" })
                </div>


                <div class="col-md-3">
                    @Html.EditorFor(model => model.ProviderPhoneNumber, new { htmlAttributes = new { @class = "phone form-control", title = "Provider Contact Phone", placeholder = "Provider Phone" } })
                    @Html.ValidationMessageFor(model => model.ProviderPhoneNumber, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.EditorFor(model => model.ProviderEmail, new { htmlAttributes = new { @class = "form-control", title = "Provider Email Address ", placeholder = "Provider Email" } })
                    @Html.ValidationMessageFor(model => model.ProviderEmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ProviderFax, new { htmlAttributes = new { @class = "phone form-control", title = "Provider Fax", placeholder = "Provider Fax" } })
                    @Html.ValidationMessageFor(model => model.ProviderFax, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.TeacherFirstName, new { htmlAttributes = new { @class = "form-control", title = "Provider Representative First Name", placeholder = "Teacher First Name" } })
                    @Html.ValidationMessageFor(model => model.ProviderFirstName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.TeacherLastName, new { htmlAttributes = new { @class = "form-control", title = "Provider Representative Last Name", placeholder = "Teacher Last Name" } })
                    @Html.ValidationMessageFor(model => model.ProviderLastName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.TeacherCactusID, new { @class = "form-control", id = "ProviderCactusId", title = "Acts as Provider Signature", placeholder = "Teacher Cactus ID" })
                    @Html.ValidationMessageFor(model => model.TeacherCactusID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <hr />

        @*

            <div class="form-group">
                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                </div>
            </div>


        *@

        <div class="form-group">

            <div class=" col-md-12">
                <p>@Html.CheckBox("the-terms", false) * I have read the <a href="/Home/About/#terms" target="_blank">Terms and Conditions</a></p>

                <input id="submit" type="submit" value="Submit" class="btn btn-default" disabled="disabled" />
            </div>
        </div>

    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(function () {
            // On reload Category dropdown needs to be reset.

            $('#Category option:first').attr("selected", true);
            
            //Datepicker
            // Make the default start date 15 years ago today for birthdays of secondary schoolers.
            var start = new Date();
            start.setFullYear(start.getFullYear() - 15);
            $("#birthdatePicker").datepicker({
                changeMonth: true,
                changeYear: true,
                defaultDate: start
            });

            $("#graduationdatePicker").datepicker({
                changeMonth: true,
                changeYear: true
            });
            // Terms and Conditions

            $("#the-terms").click(function () {
                if ($(this).is(':checked')) {
                    $('#submit').removeAttr('disabled');
                } else {
                    $('#submit').attr("disabled", "disabled");
                }
            });

            //Add/hide fields according to user type.

            $("#SubmitterTypeCheckBox input[name='SubmitterTypeID']").click(function () {
                if ($(this).val() == 3) {
                    $("#ProviderSection").removeClass('hide');
                    $("#CouselorCactusID").addClass('hide');
                }
                else if ($(this).val() == 2) {
                    $("#CouselorCactusID").removeClass('hide');
                    $("#ProviderSection").addClass('hide');
                } else if ($(this).val() == 1) {
                    $("#ProviderSection").addClass('hide');
                    $("#CouselorCactusID").addClass('hide');
                }
            });

            $('input:radio:first').prop("checked", true).trigger("click");


            //Enrollment DropdownLists
            $('#EnrollmentLocation').change(function () {

                var lea = $("#EnrollmentLocation option:selected").text();

                if (lea.toLowerCase().indexOf("home school") >= 0) {
                    $("#ssid").prop('disabled', true).prop('required', false);
                    $("#CurrentSchool").prop('disabled', true);
                    $("#CounselorSection :input").attr('disabled', true);
                    $("#CurrentPrivateSchool").addClass('hide');
                    $("#HomeSchoolRelease").removeClass('hide');
                }
                else if (lea.toLowerCase().indexOf("private school") >= 0) {
                    $("#ssid").prop('disabled', true).prop('required', false);
                    $("#CurrentSchool").prop('disabled', true);
                    $("#CounselorSection :input").removeAttr('disabled');
                    $("#CurrentPrivateSchool").removeClass('hide');
                    $("#HomeSchoolRelease").addClass('hide');
                }
                else {
                    $("#ssid").prop('disabled', false).prop('required', true);
                    $("#CounselorSection :input").removeAttr('disabled');
                    $("#CurrentSchool").prop('disabled', false);
                    $("#CurrentPrivateSchool").addClass('hide');
                    $("#HomeSchoolRelease").addClass('hide');
                }

                $('#CurrentSchool').empty();
                var items = '<option value="">Select School</option>';
                $('#CurrentSchool').html(items);
                var district = $("#EnrollmentLocation option:selected").val();
                var districtName = $("#EnrollmentLocation option:selected").text();
                if (district != "") {

                  
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetSchoolNames", "MainTables")',
                        data: { district: district },
                        dataType: 'json',
                        success: function (schoolList) {

                            $.each(schoolList, function (i, school) {

                                $('#CurrentSchool').append("<option value='" + school.Value + "'>" + school.Text + "</option>");

                            });
                        },
                        error: function (result) {
                            alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                        }
                    });
                }
                else {
                    var items = '<option value="">Select Enrollment Location First</option>';
                    $('#Course').html(items);
                }
            });

            // Course DropDownLists
            //get course list on changing of category dropdown list
            $('#Category').change(function () {
                $("#Course").empty();
                $('#Provider,#Credit,#CreditOptions,#Code,#CourseName,#Note').addClass('hide');
               

                var items = '<option value="">Select Course</option>';
                $('#Course').html(items);
                var category = $("#Category option:selected").val();
                var categoryName = $("#Category option:selected").text();

                if (category != "") {

                    // Message for concurrent enrollment
                    if (categoryName == "Concurrent Enrollment")
                        $('#dialog-ConcurrentEnrollment').dialog({
                            width: 500,
                            dialogClass: "no-close",
                            buttons: [
                              {
                                  text: "OK",
                                  click: function () {
                                      $(this).dialog("close");
                                  }
                              }
                            ]
                        });
                    //alert("Courses offered under provider contract with an institution of higher education, which are not considered Concurrent Enrollment per 53A-15-101 and 53A-17a-120.5");

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetCourseNames", "MainTables")',
                        data: { categoryId: category },
                        dataType: 'json',
                        success: function (courseList) {

                            $.each(courseList, function (i, course) {

                                $('#Course').append("<option value='" + course.Value + "'>" + course.Text + "</option>");

                            });
                        },
                        error: function (result) {
                            alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                        }
                    });
                }
                else {
                    var items = '<option value="">Select Category First</option>';
                    $('#Course').html(items);
                }
            });

            // Get course information from course selection (ie. Provider, credit available, code)

            $('#Course').change(function () {
                $('#Provider,#Code,#Note,#CourseName,#Credit').addClass('hide');
               // $('#Code').addClass('hide');
               //  $('#Note').addClass('hide');
               // $('#CourseName').addClass('hide');
               // $('#Credit').addClass('hide');

                $("#CreditOptions").empty();
                var items = '<option value="">Select Credit</option>';
                $('#CreditOptions').html(items);

                var courseName = $("#Course option:selected").text().split('-')[0];

                if (courseName != "") {
                    $("#CourseName").removeClass('hide');
                    $('#CourseName').html("COURSE:" + courseName);

                }

                var course = $("#Course option:selected").val();
                if (course != "") {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetCourseInformation", "MainTables")',
                        data: { courseId: course },
                        dataType: 'json',
                        success: function (result) {
                            $("#CreditOptions").removeClass('hide');
                            $.each(result.CreditChoices, function (i, value) {
                                if (value.Disabled != true) {
                                    $('#CreditOptions').append("<option value='" + value.Value + "'>" + value.Text + "</option>");
                                }
                            });

                            $("#Provider").removeClass('hide');
                            $('#Provider').html('PROVIDER: ' + result.Name);

                            $('#ProviderID').val(result.OnlineProviderID);

                            $("#Code").removeClass('hide');
                            $('#Code').html("CODE: " + result.Code);

                            if (result.Notes != null) {
                                $('#Note').removeClass('hide');
                                $('#Note').html("NOTES: " + result.Notes);
                            }
                        },
                        error: function (result) {
                            alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                        }
                    });
                }

            });

            // Populate credit dropdown

            $('#CreditOptions').change(function () {

                $("#Credit").removeClass('hide');

                var course = $("#CreditOptions option:selected").text();
                if (course != "") {
                    $('#Credit').html("CREDIT:" + course);
                }
                else {
                    $("#Credit").addClass('hide');
                }
            });

            // Message box to alert requirements for 7/8th grade registration

            $("#GradeCheckBox input[name='StudentGradeLevel']").click(function () {
                if ($(this).val() == 7 || $(this).val() == 8) {
                    $('#dialog-GradeLevel').dialog({
                        width: 500,
                        dialogClass: "no-close",
                        buttons: [
                          {
                              text: "OK",
                              click: function () {
                                  $(this).dialog("close");
                              }
                          }
                        ]
                    });
                    //alert(' 7*/8* only qualify to participate with:(a)SEOP or CCRP for early graduation, and(b) approval of high school which student intends to graduate from,  indicating that the high school will accept credit earned prior to the 9th grade for purposes of high school graduation.');
                }
            });

            // Excessive credit
            // Show inputs for full day excessive credit if clicked yes.

            $("#CreditRadio input[name$='HasExcessiveFED']").click(function () {
                if ($('#YesExcessCredit').is(':checked')) {
                    $('#dialog-ExcessiveFED').dialog({
                        width: 500,
                        dialogClass: "no-close",
                        buttons: [
                          {
                              text: "OK",
                              click: function () {
                                  $(this).dialog("close");
                              }
                          }
                        ]
                    });
                    // alert('(1) During any academic year, total enrolled credits may exceed a "full day equivalent” only if school district or charter school board policy allows this, or the student has a signed SEOP on file providing for Early Graduation.\n(2) During the 2014-15 school year students are limited to 4.0 credits, and during the 2015-16 school year this rises to 5 credits; students may request more credits if this better meets the academic goals of the student.\n(3) Electronic High School courses and Release Time are not to be considered when figuring course or credit "counts" as required in this application.');



                    $("#ExcessiveCreditReason, #ExcessiveCreditExplanation").removeClass('hide').prop('disabled', false).prop('required', true);
                }
                else {
                    $("#ExcessiveCreditReason, #ExcessiveCreditExplanation").addClass('hide').prop('disabled', true).prop('required', false);
                }
            });


            $(".phone").mask("(999) 999-9999");


        });
    </script>
}
<div id="dialog-GradeLevel" title="Eligible Grade Level Alert" style="display:none;">
    <p>7*/8* only qualify to participate with:(a)SEOP or CCRP for early graduation, and(b) approval of high school which student intends to graduate from,  indicating that the high school will accept credit earned prior to the 9th grade for purposes of high school graduation.</p>
</div>
<div id="dialog-ExcessiveFED" title="Excessive Credit Information" style="display:none;">
    <p>
        (1) During any academic year, total enrolled credits may exceed a "full day equivalent” only if school district or charter school board policy allows this, or the student has a signed SEOP on file providing for Early Graduation.
    </p>
    <p>
        (2) During the 2014-15 school year students are limited to 4.0 credits, and during the 2015-16 school year this rises to 5 credits; students may request more credits if this better meets the academic goals of the student.
    </p>
    <p>
        (3) Electronic High School courses and Release Time are not to be considered when figuring course or credit "counts" as required in this application.
    </p>
</div>

<div id="dialog-ConcurrentEnrollment" title="Concurrent Enrollment Courses" style="display:none;">
    <p>Courses offered under provider contract with an institution of higher education, which are not considered Concurrent Enrollment per 53A-15-101 and 53A-17a-120.5</p>
</div>