@model CcaRegistrationDf.Models.MainTable

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MainTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationSubmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationSubmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessedProficiency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessedProficiency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetPrimaryProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetPrimaryProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Business_Administrator_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Business_Administrator_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessAdministratorFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessAdministratorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessAdministratorLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessAdministratorLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessAdministratorSignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessAdministratorSignature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessAdministratorTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessAdministratorTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletionStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletionStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounselorCactusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounselorCactusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounselorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounselorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounselorFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounselorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounselorLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounselorLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounselorPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounselorPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCompletionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCompletionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCreditID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCreditID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseRecord2ndSemesterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseRecord2ndSemesterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseRecordID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseRecordID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCompletedToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCompletedToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateBusinessAdministratorSignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBusinessAdministratorSignature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateConfirmationActiveParticipation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateConfirmationActiveParticipation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateContinuationActiveParticipation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateContinuationActiveParticipation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReportPassingGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReportPassingGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentLocationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentLocationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcessiveFEDExplanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcessiveFEDExplanation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcessiveFEDReasonCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcessiveFEDReasonCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraduationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianPhone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianPhone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianPhone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianPhone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBusinessAdministratorAcceptRejectEnrollment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBusinessAdministratorAcceptRejectEnrollment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCounselorSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCounselorSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCourseConsistentWithStudentSEOP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCourseConsistentWithStudentSEOP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEarlyGraduate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEarlyGraduate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEnrollmentNoticeSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEnrollmentNoticeSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFeeWaived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFeeWaived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGuardianSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGuardianSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsIEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsIEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrimaryEnrollmentVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrimaryEnrollmentVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsProviderAcceptsRejectsCourseRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsProviderAcceptsRejectsCourseRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsProviderEnrollmentVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsProviderEnrollmentVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsProviderSignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsProviderSignature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsQ1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsQ1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsQ2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsQ2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsQ3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsQ3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsQ4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsQ4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRemediation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRemediation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSection504)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSection504)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStudentSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStudentSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotificationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NovemberFY15Distr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NovemberFY15Distr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NovemberFY15Offset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NovemberFY15Offset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnlineProviderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnlineProviderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentTelephone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentTelephone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricingTier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricingTier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryLEAExplantionRejection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryLEAExplantionRejection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryLEAReasonRejectingCCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryLEAReasonRejectingCCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryNotificationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryNotificationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriorDisbursementProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorDisbursementProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderExplanationRejection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderExplanationRejection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderReasonRejection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderReasonRejection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemediationPeriodBegins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemediationPeriodBegins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolOfRecord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolOfRecord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDateSecondSemester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateSecondSemester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentGradeLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentGradeLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmitterTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmitterTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherCactusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherCactusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDisbursementsProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDisbursementsProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwentyDaysPastSemesterStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwentyDaysPastSemesterStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unallocated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unallocated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnallocatedReduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnallocatedReduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WithdrawalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WithdrawalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grand_Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grand_Total)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
