@model IEnumerable<CcaRegistrationDf.Models.CourseStatusViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Applications</h2>

<p>
    @Html.ActionLink("Register For New Online Course", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationSubmissionDate)
        </th>
       
        <th data-column-id="Session">
            @Html.DisplayName("Session")
        </th>
        <th data-column-id="Category">
            @Html.DisplayName("Category")
        </th>
        <th data-column-id="Provider">
            @Html.DisplayName("Provider")
        </th>
        <th data-column-id="Course Name">
            @Html.DisplayName("Course Name")
        </th>
        <th data-column-id="Completion Status">
            @Html.DisplayName("Completion Status")
        </th>

        <th></th>
    </tr>

    @* TODO: Create links that show details of each item from reference table *@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationSubmissionDate)
        </td>
      
        <th>
            @Html.DisplayFor(modelItem => item.Session.Name)
        </th>

        <th>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </th>

        <td>
            @Html.DisplayFor(modelItem => item.OnlineProvider.Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Course.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CompletionStatus)
        </td>
    </tr>
}

</table>
