@model CcaRegistrationDf.Models.CCA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CCA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Counselor.CounselorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Counselor.CounselorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCredit.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCredit.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primary.Business_Administrator_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primary.Business_Administrator_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provider.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationSubmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationSubmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessedProficiency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessedProficiency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmitterTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmitterTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentGradeLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentGradeLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasExcessiveFED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasExcessiveFED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcessiveFEDExplanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcessiveFEDExplanation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcessiveFEDReasonCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcessiveFEDReasonCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCounselorSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCounselorSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBusinessAdministratorAcceptRejectEnrollment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBusinessAdministratorAcceptRejectEnrollment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryLEAExplantionRejection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryLEAExplantionRejection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryLEAReasonRejectingCCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryLEAReasonRejectingCCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletionStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletionStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCompletionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCompletionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCompletedToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCompletedToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateConfirmationActiveParticipation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateConfirmationActiveParticipation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateContinuationActiveParticipation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateContinuationActiveParticipation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReportPassingGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReportPassingGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEnrollmentNoticeSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEnrollmentNoticeSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsProviderAcceptsRejectsCourseRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsProviderAcceptsRejectsCourseRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsProviderEnrollmentVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsProviderEnrollmentVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsProviderSignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsProviderSignature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderExplanationRejection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderExplanationRejection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderReasonRejection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderReasonRejection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName2ndSemesterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName2ndSemesterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCourseConsistentWithStudentSEOP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCourseConsistentWithStudentSEOP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetPrimaryProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetPrimaryProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRemediation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRemediation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotificationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryNotificationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryNotificationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriorDisbursementProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorDisbursementProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemediationPeriodBegins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemediationPeriodBegins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDisbursementsProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDisbursementsProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwentyDaysPastSemesterStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwentyDaysPastSemesterStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unallocated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unallocated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnallocatedReduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnallocatedReduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WithdrawalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WithdrawalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grand_Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grand_Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
