@model CcaRegistrationDf.Models.Primary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Primary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Business_Administrator_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Business_Administrator_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessAdministratorFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessAdministratorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessAdministratorLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessAdministratorLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessAdministratorSignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessAdministratorSignature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessAdministratorTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessAdministratorTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateBusinessAdministratorSignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBusinessAdministratorSignature)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
