@model IEnumerable<CcaRegistrationDf.Models.Primary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Business_Administrator_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessAdministratorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessAdministratorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessAdministratorSignature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessAdministratorTelephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBusinessAdministratorSignature)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Business_Administrator_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessAdministratorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessAdministratorLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessAdministratorSignature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessAdministratorTelephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBusinessAdministratorSignature)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
