<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SEATS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <!-- Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/animate.css" rel="stylesheet" />

    <!-- Squad theme CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/color/default.css" rel="stylesheet">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <!-- Preloader -->
    <div id="preloader">
        <div id="load"></div>
    </div>

    <nav class="navbar navbar-default top-nav-collapse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header  page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/">
                    <h1>SEATS</h1>
                </a>
                <ul class="nav navbar-nav">
                    <li><a href="/Home/">Home</a></li>
                    <li><a href="/Home/About/">About</a></li>
                    <li><a href="/Home/Contact/">Contact</a></li>

                </ul>
            </div>

            <div class="navbar-collapse collapse">


                @Html.Partial("_LoginPartial")

            </div>
        </div>
       <!-- /Section: intro -->
    @*<section id="intro" class="intro-small"></section>*@
    <!-- /Section: intro --></nav>
 

    <div class="container body-content">
        @RenderBody()
        <hr />
      
    </div>

    @*<footer>
        <p>&copy; @DateTime.Now.Year - SEATS</p>
    </footer>*@
   
    <!-- Core JavaScript Files -->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.easing.min.js"></script>
    <script src="~/Scripts/js/jquery.scrollTo.js"></script>
    <script src="~/Scripts/js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/js/custom.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
