@model IEnumerable<CcaRegistrationDf.Models.Provider>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistrictNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderFax)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderFax)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
