@model IEnumerable<SEATS.Models.CCAViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
       
      
        <th>
            @Html.DisplayNameFor(model => model.StudentGradeLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasExcessiveFED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExcessiveFEDExplanation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExcessiveFEDReasonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CounselorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCounselorSigned)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.IsBusinessAdministratorAcceptRejectEnrollment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryLEAExplantionRejection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryLEAReasonRejectingCCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletionStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseBegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCompletionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCompletedToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateConfirmationActiveParticipation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateContinuationActiveParticipation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReportPassingGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnrollmentNoticeSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProviderAcceptsRejectsCourseRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProviderEnrollmentVerified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProviderSignature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderExplanationRejection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderReasonRejection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnlineCourseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCreditID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName2ndSemesterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCourseConsistentWithStudentSEOP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetPrimaryProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRemediation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryNotificationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriorDisbursementProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemediationPeriodBegins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDisbursementsProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwentyDaysPastSemesterStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unallocated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnallocatedReduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WithdrawalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grand_Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
       
      
        <td>
            @Html.DisplayFor(modelItem => item.StudentGradeLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasExcessiveFED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExcessiveFEDExplanation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExcessiveFEDReasonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CounselorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCounselorSigned)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.IsBusinessAdministratorAcceptRejectEnrollment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryLEAExplantionRejection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryLEAReasonRejectingCCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletionStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCompletionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCompletedToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateConfirmationActiveParticipation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateContinuationActiveParticipation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReportPassingGrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEnrollmentNoticeSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProviderAcceptsRejectsCourseRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProviderEnrollmentVerified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProviderSignature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderExplanationRejection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderReasonRejection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnlineCourseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCreditID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName2ndSemesterID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCourseConsistentWithStudentSEOP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetPrimaryProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRemediation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotificationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryNotificationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriorDisbursementProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemediationPeriodBegins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDisbursementsProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwentyDaysPastSemesterStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unallocated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnallocatedReduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WithdrawalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grand_Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
