@model IEnumerable<SEATS.Models.CourseStatusViewModel>

<h2>My Online Applications</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Submission Date")
        </th>
       
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("Provider")
        </th>
        <th>
            @Html.DisplayName("Session")
        </th>
        <th>
            @Html.DisplayName("Course")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @String.Format("{0:MM/dd/yyyy}", item.ApplicationSubmissionDate)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.CourseCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Session.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnlineCourse.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletionStatus)
        </td>
        
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
